.w3-theme-l5 {color:#000 !important; background-color:#fbf8f3 !important}
.w3-theme-l4 {color:#000 !important; background-color:#f1e8d8 !important}
.w3-theme-l3 {color:#000 !important; background-color:#e3d2b1 !important}
.w3-theme-l2 {color:#000 !important; background-color:#d6bb89 !important}
.w3-theme-l1 {color:#000 !important; background-color:#c8a462 !important}
.w3-theme-d1 {color:#fff !important; background-color:#a37e39 !important}
.w3-theme-d2 {color:#fff !important; background-color:#917033 !important}
.w3-theme-d3 {color:#fff !important; background-color:#7f622d !important}
.w3-theme-d4 {color:#fff !important; background-color:#6d5426 !important}
.w3-theme-d5 {color:#fff !important; background-color:#5b4620 !important}

.w3-theme-light {color:#000 !important; background-color:#fbf8f3 !important}
.w3-theme-dark {color:#fff !important; background-color:#5b4620 !important}
.w3-theme-action {color:#fff !important; background-color:#5b4620 !important}

.w3-theme {color:#fff !important; background-color:#b68d40 !important}
.w3-text-theme {color:#b68d40 !important}
.w3-border-theme {border-color:#b68d40 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#b68d40 !important}
.w3-hover-text-theme:hover {color:#b68d40 !important}
.w3-hover-border-theme:hover {border-color:#b68d40 !important}